[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "~=1.4.7"
python-dateutil = "~=2.8.1"
pre-commit = "*"
pysolr = "~=3.9.0"
pytest = "~=6.2.2"
requests = "~=2.31.0"
numpy = "~=1.22"
pandas = "~=1.2.2"
sqlparse = "~=0.4.1"

[dev-packages]
sqlalchemy = "~=1.4.7"
python-dateutil = "~=2.8.1"
pre-commit = "*"
pysolr = "~=3.9.0"
pytest = "~=6.2.2"
requests = "~=2.31.0"
numpy = "~=1.22"
pandas = "~=1.2.2"
sqlparse = "~=0.4.1"
nose = "*"
mock = "*"
coverage = "*"

[requires]
python_version = "3.10"
